@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400&display=swap");
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
  background: #16a085;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 500px;
  height: 370px;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.the_creator {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  user-select: none;
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

.indications {
  position: absolute;
  bottom: 100px;
  color: #fff;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  user-select: none;
  opacity: 80%;
  transition: 0.3s ease-in-out;
}

.the_creator:hover,
.indications:hover {
  opacity: 100%;
}
